each rep in reps
  .rep
    if rep.photo
      .photo
        img(src='#{rep.photo}')
    .info
      h3 #{rep.name}
      ul
        li #{rep.title}
        if rep.phone
          li #{rep.phone}
            button.call(data-phone="#{rep.phone}") Call
            button.hangup Hangup
        if rep.email
          li
            a(href="mailto:#{rep.email}", target="_blank") Email
