each rep in reps
  .rep(data-id="#{rep.id}")
    if rep.photo
      img.photo(src='#{rep.photo}')
    .info
      h3 #{rep.name}
      ul
        li.title #{rep.title}
        if rep.email
          li.email
            a(href="mailto:#{rep.email}", target="_blank") Email
        if rep.phone
          li.phone #{rep.phone}
            = " "
            button.call(data-phone="#{rep.phone}", data-hash="#{rep.phoneHash}") Call Now
            button.hangup Hangup
