extends ../layout

block content

  p
    a.btn.btn-primary(href='/campaign/#{campaignId}/edit') Edit Campaign
  p
    a.btn.btn-primary(href='/campaign/#{campaignId}/example') View example use
  form(action='/campaign/#{campaignId}', method='post')
    input(type='hidden', name='_method', value='delete')
    input.btn.btn-danger(type='submit', value='Delete Campaign')

  .center
    p Embed code
    p
      input.widget-code(type='textbox', value='#{embedCode}')
    iframe(src='#{process.env.APP_URL}/campaign/#{campaignId}/iframe', width='300', height='550', frameborder='0', scrolling='no')
